@import url('./toolbar-responsive.css');

header {
    width: 100%;
    z-index: 1;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;

    img {
        width: 100px;
        margin-right: auto;
    }

    a {
        text-decoration: none;
        color: rgb(151, 151, 151);
    }

    .toolbar-itens {
        display: flex;
        justify-content: space-evenly;
    }
}